/*  --Fonts--  */

@font-face{
    font-family: "Vazirmatn Medium";
    src: url(../fonts/Vazirmatn-Medium.ttf) format("truetype");
}
@font-face{
    font-family: "Vazirmatn Regular";
    src: url(../fonts/Vazirmatn-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Vazirmatn SemiBold";
    src: url(../fonts/Vazirmatn-SemiBold.ttf) format("truetype");
}
@font-face{
    font-family: "Vazirmatn Light";
    src: url(../fonts/Vazirmatn-Light.ttf) format("truetype");
}
@font-face{
    font-family: "Vazirmatn Bold";
    src: url(../fonts/Vazirmatn-Bold.ttf) format("truetype");
}
@font-face{
    font-family: "Vazirmatn ExtraBold";
    src: url(../fonts/Vazirmatn-ExtraBold.ttf) format("truetype");
}
@font-face{
    font-family: "Vazirmatn Black";
    src: url(../fonts/Vazirmatn-Black.ttf) format("truetype");
}


/*  --Reset--  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*  --App--  */

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: "Vazirmatn Medium";
    line-height: 1.6rem;
    background-color: #303030;
    color: #fff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    cursor: pointer;
    outline: none;
    border: none;
}
input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    background-color: transparent;
}
input:focus {
    color: #fff;
    font-family: 'Vazirmatn Medium';
}


/*  --Header--  */
.header {
    height: 6rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.9);
    padding: 1rem 0;
    position: fixed;
    z-index: 100;
    width: 1140px;
    transition: margin-top 0.3s ease;
    border-radius: 0.6rem;
}
.nav-wraper-right {
    display: flex;
    align-items: center;
    z-index: 99;
    margin-right: 1rem;
}
.nav-wraper-left {
    display: flex;
    align-items: center;
    z-index: 99;
    margin-left: 1rem;
}
.nav-wraper-logo {
    position: relative;
}
.nav-wraper-logo::before {
    content: ' ';
    position: absolute;
    background-color: #fff;
    width: 0.2rem;
    height: 6rem;
    border-radius: 0.2rem;
    right: 11.8rem;
    top: -0.5rem;
}
.logo__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
}
.nav-logo {

}
.nav-logo__img {
    width: 4rem;
    height: 3rem;
}
.nav-logo__title {
    font-family: "Vazirmatn SemiBold";
    font-size: 1.2rem;
}
.nav-logo__content {
    font-family: "Vazirmatn Regular";
    font-size: 1.3rem;
}
.nav-wraper-menu {
        margin-right: 4rem;
}
.menu {
    display: flex;
}
.menu__item {

}
.menu__link {
    color: #fff;
    transition: color 0.2s ease-in;
    position: relative;
    font-size: 1.5rem;
}
.menu__item:not(:first-child) .menu__link {
    margin-right: 4rem;
}
.menu__link:hover {
    color: #DF2144;
}
.nav-wraper-search {

}
.nav__form {
    display: flex;
    align-items: center;
    background-color: #222222;
    border-radius: 0.5rem;
    height: 100%;
    padding: 0 0.4rem;
    flex-direction: row-reverse;
    width: 25rem;
    justify-content: flex-end;
    margin-left: 2rem;
}
.nav__search {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    background-color: transparent;
}
input::placeholder {
    color: #EAEAEA;
    font-family: "Vazirmatn Medium";
    font-size: 1.5rem;
}
.nav__search-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
}
.search-btn {
    width: 100%;
    height: 100%;
    color: #EAEAEA;
}
.nav-wraper-links {
    display: flex;
    align-items: center;
}
.nav-links__link {
    transition: color 0.2s ease-in;
    border-radius: 0.5rem;
    width: 12rem;
    align-items: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    border: 0.1rem solid #DF2144;
    font-family: "Vazirmatn Light";
    font-size: 1.4rem;
}
.nav-links--border1 {
    margin-left: 2rem;
    color: #DF2144;
}
.nav-links--border1:hover {
    color: #fff;
    background-color: #DF2144;
}
.nav-links--border2 {
    color: #fff;
    background-color: #DF2144;
}
.nav-links--border2:hover {
    color: #DF2144;
    background-color: transparent;
}
.nav__sliding-icon {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin: 0 3rem;
    display: none;
}
.nav__sliding-icon path {
    stroke: #fff;
    transition: stroke 0.3s ease;
}
.nav__sliding-icon:hover path {
    stroke: #DF2144;
}
.nav-sliding-wrapper {
    display: flex;
    background-color: rgb(17, 17, 17);
    flex-direction: column;
    height: 100%;
    z-index: 200;
    width: 25rem;
    top: 0;
    right: -25rem;
    position: fixed;
    transition: right 0.4s ease;
}
.nav-sliding-wrapper.active {
    right: 0;
}
.menu-sliding {
    margin: 4rem 4rem 0rem 4rem;
}
.menu-sliding__item:not(:first-child) {
    margin: 3rem 0;
}
.menu-sliding__link {
    color: #fff;
    transition: color 0.3s ease;
}
.menu-sliding__link:hover {
    color: #DF2144;
}
.menu-sliding__link-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-sliding__link-icon {
    width: 2.5rem;
    height: 2.5rem;
}
.menu-sliding__link-icon path {
    fill: #fff;
}
.nav-sliding__icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    fill: #fff;
    position: absolute;
    top: 1rem;
    right: 21rem;
    transition: fill 0.3s ease;
}
.nav-sliding__icon:hover {
    fill: #DF2144;
}
.sliding-links {
    display: none;
    margin: 0 4rem;
}
.sliding-links__link:last-child {
    margin-top: 2rem;
}



/*  Membership Section  */

.membership {
    margin-top: 6rem;
    display: flex;
    height: 34rem;
}
.membership__right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.membership__title {
    font-family: 'Vazirmatn Black';
}
.membership__content {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    max-width: 46rem;
    text-align: justify;
}
.membership__left {
    flex-basis: 50%;
    background-color: #4E0C18;
    border-radius: 0.6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.membership__links {
    display: flex;
    align-items: center;
}
.membership__item {
    font-family: 'Vazirmatn SemiBold';
    margin-right: 3rem;
    cursor: pointer;
}
.membership__item--active {
    color: #DF2144;
    font-size: 2rem;
    transition: all 0.3s ease;
}
.forms {
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateX(100%);
    display: none;
}
.forms--active {
    opacity: 1;
    transform: translateX(0%);
    z-index: 99;
    display: block;
}
.membership__forms {
    margin-top: 1rem;
    transition: transform 0.4s ease;
}
.membership__wrapper-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.membership__form {
    margin-top: 1.5rem;
    width: 26rem;
}
.membership__form:last-child {
    width: 100%;
}
.membership__form-title {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}
.membership-form {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 0.6rem;
    padding: 0.5rem;
    height: 2rem;
}
.membership-form-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}
.membership__input::placeholder {
    font-family: "Vazirmatn Regular";
    font-size: 1rem;
}
.membership__btn {
    width: 100%;
    margin-top: 1.5rem;
    background-color: #DF2144;
    height: 3rem;
    color: #fff;
    font-family: 'Vazirmatn Medium';
}
.login__forms {
    margin-top: 1rem;
}
.login__form {
    width: 100%;
}
.login__wrapper-form {
    margin-bottom: 1rem;
}
.login__text-link {
    font-size: 1rem;
    color: #1EB7E8;
}
.membership__line-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
}
.membership__line-right::before,
.membership__line-left::before {
    content: ' ';
    display: block;
    width: 26rem;
    height: 0.1rem;
    background: #fff;
}
.membership__word {
    font-size: 1.2rem;
}
.membership__google-btn {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-family: 'Vazirmatn Medium';
    border: 2px solid #fff;
    height: 3rem;
    font-size: 1.2rem;
}
.membership__google-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}


/*  --Footer--  */

.footer {
    margin-top: 10rem;
    background-color: #111111;
    position: relative;
}
.footer__svg-top {
    position: absolute;
    top: 0;
    right: 0;
}
.footer__section {
    display: flex;
    height: 35rem;
}
.footer__wrapper-right {
    flex-basis: 50%;
    z-index: 99;
}
.footer__wrapper-title {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}
.footer__logo {

}
.footer__title {
    font-family: 'Vazirmatn ExtraBold';
    font-size: 2.3rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}
.footer__title-text {
    font-family: 'Vazirmatn ExtraBold';
}
.footer__wrapper-text {
    margin-top: 7rem;
}
.footer__text {
    font-family: 'Vazirmatn Light';
    font-size: 1.4rem;
    text-align: justify;
}
.footer__wrapper-content {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__icons {
    display: flex;
    align-items: center;
}
.footer__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.footer__icon:hover path {
    stroke: #1EB7E8;
    
}
.footer__phonenumber {
    font-family: 'Vazirmatn Light';
    font-size: 1.4rem;
    margin-right: 4rem;
}
.footer__wrapper-left {
    flex-basis: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__list-title {
    font-family: 'Vazirmatn Bold';
    position: relative;
}
.footer__list-title::before {
    content: ' ';
    position: absolute;
    width: 10rem;
    height: 0.2rem;
    border-radius: 0.6rem;
    background-color: #fff;
    top: 25px;
    left: -26px;
}
.footer__pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.footer__pages-item:not( :first-child) {
    margin-top: 1rem;
}
.footer__pages-link {
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}
.footer__pages-link:hover {
    color: #DF2144;
}
.footer__svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}



/*  --Responsive-- */
@media (min-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}

@media (max-width: 1199px) and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .nav {
        width: 960px;
    }
    .nav-links__link {
        width: 8rem;
    }
    .membership__right {
        padding-left: 2rem;
    }
    .membership__left {
        height: 34rem;
    }
    .membership__line-right::before,
    .membership__line-left::before {
        width: 22rem;
    }

}

@media (max-width: 991px) and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .nav {
        width: 720px;
    }
    .nav-wraper-menu {
        display: none;
    }
    .nav__sliding-icon {
        display: block;
    }
    .nav-links__link {
        width: 8rem;
    }
    .membership__right {
        padding-left: 2rem;
    }
    .membership__left {
        height: 34rem;
    }
    .membership__line-right::before,
    .membership__line-left::before {
        width: 16rem;
    }

}

@media (max-width: 767px) and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .sliding-links {
        display: block;
    }
    .nav {
        width: 540px;
    }
    .nav-wraper-menu {
        display: none;
    }
    .nav__sliding-icon {
        display: block;
    }
    .nav-wraper-links {
        display: none;
    }
    .membership__right {
        padding-left: 2rem;
    }
    .membership__left {
        height: 34rem;
    }
    .membership__line-right::before,
    .membership__line-left::before {
        width: 11rem;
    }
    .footer__title,
    .footer__list-title {
        font-size: 1.5rem;
    }
    .footer__title-text,
    .footer__text,
    .footer__phonenumber,
    .footer__pages-link {
        font-size: 1rem;
    }
    .footer__list-title::before {
        width: 6rem;
        left: -5px;
    }
    .footer__svg-top {
        width: 45rem;
    }
}

@media (max-width: 575px) {
    .sliding-links {
        display: block;
    }
    .nav {
        width: calc(100% - 3rem);
    }
    .nav-wraper-menu {
        display: none;
    }
    .nav__sliding-icon {
        display: block;
    }
    .nav__form {
        width: 20rem;
    }
    .nav-wraper-links {
        display: none;
    }
    .membership {
        width: calc(100% - 3rem);
    }
    .membership__right {
        padding-left: 2rem;
    }
    .membership__left {
        height: 34rem;
    }
    .membership__line-right::before,
    .membership__line-left::before {
        width: 9rem;
    }
    .footer__section {
        gap: 1rem;
    }
    .footer__wrapper-left {
        justify-content: flex-start;
    }
    .footer__title,
    .footer__list-title {
        font-size: 1.5rem;
    }
    .footer__title-text,
    .footer__text,
    .footer__phonenumber,
    .footer__pages-link {
        font-size: 1rem;
    }
    .footer__list-title::before {
        width: 6rem;
        left: -5px;
    }
    .footer__svg-top {
        width: 45rem;
    }
    .footer__svg-bottom {
        display: none;
    }
}

@media (max-width: 400px) {
    .sliding-links {
        display: block;
    }
}